<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Line Chart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link   href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


</head>
<body style="background-color: #b6d4fe">
    <div th:replace="navBar :: navBarM"></div>
    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>

    <script th:inline="javascript">
        var dataValues = [[${dataValues}]];
        var countryNames = [[${countryNames}]];
        var indicatorNames = [[${indicatorNames}]];

        var years = [[${years}]];

        var data = []
        let counter = 0
        for (let i = 0; i < [[${indicatorLen}]]; i++) {
            for(let j=0; j<[[${countryLen}]]; j++){
                data.push({"name": indicatorNames[i] + " for " + countryNames[j],data: dataValues[counter]})
                counter ++
            }

        }

        Highcharts.chart('container', {

            title: {
                text: 'Line Chart'
            },
            xAxis: {
                categories: years,
                crosshair: true
            },
            yAxis: {
                title: {
                    text: 'value'
                }
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                }
            },

            series: data,

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>
</body>
</html>
